<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width,initial-scale=1">
  
  <link href='http://fonts.googleapis.com/css?family=Modern+Antiqua' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/forms.css">
  <link rel="stylesheet" href="css/app.css">
  
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Frisbee App</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="#/tournament">Tournament</a></li>
            <li><a href="#/schedule">Schedule</a></li>
            <li><a href="#/ranking">Ranking</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container-fluid content">
  
    <div class="row-fluid" id="page">
      <article class="span12">
          
      </article><!--/span-->
    </div><!--/row-->

    <footer>
      <p>Backbone applicatie door Lars Dol & Trystian Offerman. - Frontend 2</p>
    </footer>
  
  </div><!--/.fluid-container-->

  <!-- Templates -->

  <!-- HOME -->
  <script id="homeTemplate" type="text/template">
    <article class="span12">
      <section>
        <h1>Treesomes Frisbee Application</h1>

        <article>
        <h2> Welcome to the application of the Threesomes Frisbee Tournament <h2>
        <h2>Select <a href="#/schedule">Schedule</a> to see the schedule of the tournament  </h2>
        <h2>Select <a href="#/ranking">Ranking</a> to see the ranking of the tournament  </h2>
        </article>
      </section>
    </article><!--/span-->
  </script>

  <!-- SCHEDULE -->
  <script id="scheduleTemplate" type="text/template">
    <article id="schedule">       
      <header>
        <h1>Schedule</h1>
      </header>
      
      <nav class="actions">
        <ul>
          <li id="filter">
            <label>First team:</label>
          
          </li>
        </ul>
      </nav>


      <ul id="gamestable">
        <li class="game_heading">Games</li>
        <li class="loading">
          <div class="loader_container">
            <div class="loader"></div>
          </div>
          <div class="load_text">Loading games...</div>
        </li>
      </ul>
    </article>  
  </script>
 
  <script id="gameTemplate" type="text/template">
    <div class="game_row">
      <div class="time">
        <span><%= formatDate(start_time) %></span>
      </div>
      <div class="team_row">
        <div class="team">
          <p <% if( team_1_score  > team_2_score) { %> class="winner" <% }%>>
            <%= team_1.name %>
          </p>
        </div>
        <div class="score">
          <p class="team1_score">
            <%= team_1_score %>
          </p>
        </div>
      </div>

      <div class="team_row">
        <div class="team">
          <p <% if( team_2_score  > team_1_score) { %> class="winner" <% }%>>
            <%= team_2.name %>
          </p>
        </div>
        <div class="score">
          <p class="team2_score">
            <%= team_2_score %>
          </p>
        </div>
      </div>
    </div>
  </script>

  <!-- RANKING -->
  <script id="poolTemplate" type="text/template">
    <article id="ranking">       
      <header>
        <h1>Pool A</h1>
      </header>
      <table id="rankingtable" class="ranking_template">
        <div id="top">
          <tr><strong> <td>Team: </td></strong> <td>Played:</td> <td>Wins:</td> <td>Losses:</td> <td>Points Scored:</td>  <td>Points Lost:</td>  <td>Saldo:</td> </tr>
        </div>
      </table>
    </article> 
  </script>

  <script id="teamTemplate" type="text/template"> 
            
   <td><strong><%= team.name %></strong></td>
   <td><%= games_played %></td>
   <td><%= wins %></td>
   <td><%= losses %></td>
   <td><%= points_scored %></td>
   <td><%= points_allowed %></td>
   <td <% if( points_scored > points_allowed) { %> class="positief" <% }
   else{
    %> class="negatief" <% 
   }%>><%= plus_minus %></td>

  </script>

  <!-- SCORE FORM -->
  <script id="scoreTemplate" type="text/template">
      <form action="#" class="game_form">
        <div class="score_buttons" id="top_buttons">
          <% if(is_final == true){ %>
            <span id="isFinal">Final score</span><span class="lock_closed"></span>
          <% } else if (is_final == false){ %>
            <span id="isNotFinal">This score is not final</span><span class="lock_open"></span>
          <% } %>
        </div>
        <table id="scoreTable">
          <thead>
            <tr>
              <td>Game</td>
              <td id="name_team1"></td>
              <td id="name_team2"></td>
              <td></td>
            </tr>
          </thead>
          <tbody>
              <% _.each(game_sets, function(set){ %>
                <% if(set.is_final == true){ %>

                  <tr class="set" id="<%= set.number %>">
                    <td><%= set.number %></td>
                    <td id="team_1_score" <% if( set.team_1_score > set.team_2_score) { %> class="winner" <% }%>setNumber="<%= set.number %>">
                      <%= set.team_1_score %>
                    </td>
                    <td id="team_2_score" <% if( set.team_2_score  > set.team_1_score) { %> class="winner" <% }%>setNumber="<%= set.number %>">
                      <%= set.team_2_score %>
                    </td>
                    <td>
                      <a href="#" class="lock_closed" id="unlockSet" setNumber="<%= set.number %>"></a>
                    </td>
                  </tr>

                <% } else if (set.is_final == false){ %>
                  <tr class="set" id="<%= set.number %>">
                    <td><%= set.number %></td>

                    <% if(is_final == false){ %>
                      <td id="team_1_score" <% if( set.team_1_score > set.team_2_score) { %> class="winner" <% }%> setNumber="<%= set.number %>">
                        <select class="score_select" setNumber="<%= set.number %>">
                            <option selected> <%= set.team_1_score %> </option>
                          <% for(var s=0; s < 35; s++){ %>  
                            <option> <%= s %> </option>
                          <% } %>
                        </select>
                      </td>

                    <% } else if(is_final == true){ %>
                      <td id="team_1_score" <% if( set.team_1_score > set.team_2_score) { %> class="winner" <% }%> setNumber="<%= set.number %>">
                        <%= set.team_1_score %>
                      </td>
                    <% } %>

                    <% if(is_final == false){ %>                     
                      <td id="team_2_score" <% if( set.team_2_score > set.team_1_score) { %> class="winner" <% }%> setNumber="<%= set.number %>">
                        <select class="score_select" setNumber="<%= set.number %>">
                            <option selected> <%= set.team_2_score %> </option>
                          <% for(var s=0; s < 35; s++){ %>  
                            <option> <%= s %> </option>
                          <% } %>
                        </select>
                      </td>

                    <% } else if(is_final == true){ %>
                      <td id="team_2_score" <% if( set.team_2_score  > set.team_1_score) { %> class="winner" <% }%> setNumber="<%= set.number %>">
                        <%= set.team_2_score %>
                      </td>
                    <% } %>

                    <td>
                      <a href="#" class="lock_open" id="lockSet" setNumber="<%= set.number %>"></a>
                    </td>
                  </tr>
                <% } %>
              <% }); %>
          </tbody>
        </table>
        <% if(is_final == false){ %>
          <div class="score_buttons" id="bottom_buttons">
          <% if(game_sets.length < 5){ %>
            <button class="clean-gray" id="newSet">Add new game</button>
          <% } %>
            <button class="cupid-green" id="update">Save score</button>
          </div>
        <% } %>
      </form>
  </script>

    <!-- SCORE FORM -->
  <script id="setTemplate" type="text/template">
      <tr class="set" id="<%= game_sets.length + 1 %>">
        <td><%= game_sets.length + 1 %></td>
        <td id="team_1_score" setNumber="<%= game_sets.length + 1 %>">
          <select class="score_select">
              <option selected> 0 </option>
            <% for(var s=0; s < 35; s++){ %>  
              <option> <%= s %> </option>
            <% } %>
          </select>
        </td>
        <td id="team_2_score" setNumber="<%= game_sets.length + 1 %>">
          <select class="score_select">
              <option selected> 0 </option>
            <% for(var s=0; s < 35; s++){ %>  
              <option> <%= s %> </option>
            <% } %>
          </select>
        </td>
        <td>
          <a href="#" class="lock_open" id="lockSet" setNumber="<%= game_sets.length + 1 %>"></a>
        </td>
      </tr>
  </script>

  <!-- Libraries -->
  <script src="js/libs/jquery/jquery-min.js"></script>
  <script src="js/libs/bootstrap/bootstrap-min.js"></script>
  <script src="js/libs/underscore/underscore-min.js"></script>
  <script src="js/libs/backbone/backbone-optamd3-min.js"></script>
  <script src="js/libs/XDate/xdate.js"></script>

  <!-- Application -->
  <script src="js/app/app.js"></script>
  <script src="js/app/config.js"></script>
  
  <!-- Models -->
  <script src="js/app/models/gameModel.js"></script>
  <script src="js/app/models/teamModel.js"></script>
  <script src="js/app/models/scoreModel.js"></script>
  <!-- Collections -->
  <script src="js/app/collections/scheduleCollection.js"></script>
  <script src="js/app/collections/poolCollection.js"></script>
  <script src="js/app/collections/scoreCollection.js"></script>

  <!-- Views -->
  <script src="js/app/views/home/homeView.js"></script>
  <script src="js/app/views/schedule/gameView.js"></script>
  <script src="js/app/views/schedule/scheduleView.js"></script>
  <script src="js/app/views/schedule/scoreView.js"></script>
  <script src="js/app/views/ranking/poolView.js"></script>
  <script src="js/app/views/ranking/teamView.js"></script>

  <script src="js/app/router.js"></script>


</body>
</html>		
