<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8" />
      <title>Backbone.js Web App</title>
      <link rel="stylesheet" href="css/style.css" />
    </head> 
    <body>
       
      <header>
          <h1><span>League:</span>AMSU - 12</h1>
          <h1><span>Tournament:</span>Threesome</h1>
      </header>
      
    	<article>
    	  <header>
      	  <h1>Poule A - Schedule</h1>
      	</header>
      	<table id="schedule">
      	  <tr>
      	    <th>Monday 18 March</th>
            <th>Team</th>
            <th>Result</th>
            <th>Team</th>
      	  </tr>
      	</table>
      </article>	

      <script id="tournamentTemplate" type="text/template">
        <td><%= date %></td>
        <td><%= team1 %></td>
        <td><%= team1Score %> - <%= team2Score %></td>
        <td><%= team2 %></td> 
      </script>
		
		  <!-- Libraries -->
      <script src="js/libs/jquery-1.7.1.min.js"></script>
      <script src="js/libs/json2.js"></script>
      <script src="js/libs/underscore-min.js"></script>
      <script src="js/libs/backbone-min.js"></script>

		  <!-- Application -->
      <script src="js/app/appSchedule.js"></script>
      <script src="js/app/models/teamModel.js"></script>
      <script src="js/app/collections/scheduleCollection.js"></script>
      <script src="js/app/views/teamView.js"></script>
      <script src="js/app/views/scheduleView.js"></script>
		
        
    </body>
</html>