body {
	background-image: url("../img/bg_pattern.png");
	background-color: #ededed;
	color: #333;
}
.hero-unit {
	color:#333;
}
#page,
footer,
header {
	border-radius:10px;
	margin-bottom:20px;
}
#page article {
	min-height:400px;
	padding: 20px 0;
}
article h1 {
	font-family: 'Modern Antiqua', cursive;
	font-size:3em;
}
article h2 {
	font-size:1.2em;
}
.content {
	margin-top:60px;
}
@media (max-width: 767px) {
	.content {
		margin-top:20px;
	}
}
footer {
	padding:10px 20px;
}
	footer p {
		margin:0;
	}
figure img {
	width:100%;
}