<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width,initial-scale=1">
  
  <link href='http://fonts.googleapis.com/css?family=Modern+Antiqua' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/forms.css">
  
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Leaugevine Tournament Software</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
        <li><a href="#/tournament">Tournament</a></li>
        <li><a href="#/schedule">Schedule</a></li>
        <li><a href="#/ranking">Ranking</a></li>
        <li><a href="#/game">Game</a></li>  
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid content">
  
    <div class="row-fluid" id="page">
      <article class="span12">
          
      </article><!--/span-->
    </div><!--/row-->

    <footer>
      <p>Web application build with <strong>Backbone.js</strong> | <strong>Require.js</strong> | <strong>jQuery</strong> | <strong>Twitter Bootstrap</strong></p>
    </footer>
  
  </div><!--/.fluid-container-->

  <!-- Templates -->
  <script id="homeTemplate" type="text/template">
    <article class="span12">
      <section>
        <h1>Default</h1>
        <ul>
          <li>Trolololol</li>
        </ul>
      </section>
    </article><!--/span-->
  </script>

  <script id="poolTemplate" type="text/template">
    <article id="schedule">       
      <header>
        <h1>Poule A - Ranking</h1>
      </header>
      
      <nav class="actions">
        <ul>
          <li id="filter">
            <label>First team:</label>
          </li>

          <li><button id="showForm">Add new game</button></li>
        </ul>
      </nav>
      
      <table id="games" cellspacing="0">
        <theader>
          <tr>
            <th>Naam</th>
            <th>Games played</th>
            <th>Wins</th>
            <th>Losses</th>
             <th>Points Scored</th>
              <th>Points Allowed</th>
               <th>Saldo</th>
          </tr>
        </theader>
        <tbody id="gamestable">
        </tbody>  
      </table>

      <form id="addGame" action="#" class="form-3">
        <h1>Add Score</h1>
        <p><%= formatDate(start_time) %></p>
          <label for="team1"><%= games_played %></label> <input id="games_played" placeholder="Name first team" type="text" />

          <div class="clearfix"><input type="submit" id="add" value="Add" /></div>
      </form>
    </article>  
  </script>
  <script id="teamTemplate" type="text/template">


   <td><%= team.name %></td>
   <td><%= games_played %></td>
   <td><%= wins %></td>
   <td><%= losses %></td>
   <td><%= points_scored %></td>
   <td><%= points_allowed %></td>
   <td><%= plus_minus %></td>


     
  </script>

  <script id="scoreForm" type="text/template">
    <form id="addGame" action="#" class="form-3">
      <h1>Add Score</h1>
        <label for="team1"><%= standings.games_played %></label> <input id="score_team_1" placeholder="Name first team" type="text" />

        <div class="clearfix"><input type="submit" id="add" value="Add" /></div>
    </form>
  </script>
  <!-- Libraries -->
  <script src="js/libs/jquery/jquery-min.js"></script>
  <script src="js/libs/bootstrap/bootstrap-min.js"></script>
  <script src="js/libs/underscore/underscore-min.js"></script>
  <script src="js/libs/backbone/backbone-optamd3-min.js"></script>
  <script src="js/libs/XDate/xdate.js"></script>

  <!-- Application -->
  <script src="js/app/app.js"></script>
  <script src="js/app/config.js"></script>
  
  <!-- Models -->
  <script src="js/app/models/teamModel.js"></script>
  <!-- Collections -->
  <script src="js/app/collections/poolCollection.js"></script>
  <!-- Views -->
  <script src="js/app/views/home/homeView.js"></script>
  <script src="js/app/views/schedule/gameView.js"></script>
  <script src="js/app/views/schedule/poolView.js"></script>

  <script src="js/app/router.js"></script>


</body>
</html>		
