<article id="schedule">				
	<header>
	  <h1>Poule A - Schedule</h1>
	</header>
	
	<nav class="actions">
		<ul>
			<li id="filter">
				<label>First team:</label>
			
			</li>
			<li><button id="showForm">Add new game</button></li>
		</ul>
	</nav>
	
	<table cellspacing="0" id="games">
	  <theader>
	    <tr>
	  	    <th>Monday 18 March</th>
	        <th>Team</th>
	        <th>Result</th>
	        <th>Team</th>
  	  	</tr>
	  </theader>
	  <tbody id="game_data">
	  </tbody>	
	</table>
	
	<form id="addGame" action="#" class="form-4">
		<h1>Add game</h1>
	    <label for="team1">Team 1:</label><input id="team1" placeholder="Name first team" type="text" />
	    <label for="team1Score">Score team 1:</label><input id="team1Score" placeholder="Score first team" type="text" />
	    <label for="team2">Team 2:</label><input id="team2" placeholder="Name second team" type="text" />
	    <label for="team2Score">Score team 2:</label><input id="team2Score" placeholder="Score second team" type="text" />
	    <label for="date">Time:</label><input id="date" placeholder="for example: Day, 00:00am" type="text" />
	    <div class="clearfix"><input type="submit" id="add" value="Add" /></div>
	</form>
</article>